pkgbase = setserial
	pkgdesc = Allows to change various attributes of a serial device
	pkgver = 2.17
	pkgrel = 5
	url = http://setserial.sourceforge.net/
	arch = armv6h
	arch = armv7h
	license = GPL
	depends = glibc
	source = http://downloads.sourceforge.net/sourceforge/setserial/setserial-2.17.tar.gz
	source = setserial.patch
	source = ioctls.patch
    source = includes.patch
	sha256sum = 7e4487d320ac31558563424189435d396ddf77953bb23111a17a3d1487b5794a # setserial-2.17.tar.gz
	sha256sum = a9f693059ad7d48a668fee762785f407755eea027ec4eb4c548fe0c6b72d623a # setserial.patch
	sha256sum = f78fad248c72378d7451dbe5dc40b06ca1c645ab6ea0bf52e35100197dfc1d49 # ioctls.patch
	sha256sum = 5cfc9eab1831f90a0b98d0f3b07254148b4097e08a2938f23bc83c03ac6167e8 # includes.patch

pkgname = setserial
